<!--<ion-header>
  <ion-toolbar>
    <ion-title>Berichtsheft</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <mat-card style="max-width: 45rem;width: 100%;" *ngFor="let berichtsheft of listBerichtshefte">
    <mat-card-header>
      <mat-icon mat-card-avatar>book</mat-icon>
      <mat-card-title>{{ berichtsheft.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Wochenberichte: {{ berichtsheft.berichteCount }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editBerichtsheft(berichtsheft)" color="primary">Öffnen</button>
      <button mat-button (click)="deleteBerichtsheft(berichtsheft)" color="warn">Löschen</button>
    </mat-card-actions>
  </mat-card>

  <!-- Berichtsheft erstellen -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mewDocument()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
