<!--<ion-header>
  <ion-toolbar>
    <ion-title>Informationen</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div style="padding: 2rem;">
    <mat-card style="max-width: 650px;">
      <mat-card-header>
        <img mat-card-avatar src="assets/card-photo.png">
        <mat-card-title>Migration der Daten</mat-card-title>
        <mat-card-subtitle>Konrad S.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/tutorial-bereich.png" alt="Bereich festlegen">
      <mat-card-content>
        <p>
          Bevor Sie ihre alten Berichtshefte verwenden können, müssen Sie zuerst einen Bereich festlegen.
          Für Caritas Don-Bosco wäre dies z.B. <span>KW 35 2000</span> bis <span>KW 30 2001</span>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
